h1{
  background-color:deeppink ;
  text-align: center;
  color:white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  
}
.p{
background-color:lightgreen;
color:deeppink;
font-style: italic;
}
button a{
  text-decoration:none;
  text-shadow: 3px 5px 12px black;
  color:brown;
  
}
.p6{
  word-spacing: 20px;
  letter-spacing:10px;
  font-weight: bold;
  
}
