body{
    background-color:black;
  }
  
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  h1{
    text-align: center;
    text-shadow:3px 5px 15px white;
    font: 2em Arial,sans-serif;
    color: white;
  }
  h1 a{
    text-decoration:none;
    color:black;
  }
  .navbar{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0px;
  }
  
  .navbar ul{
    display: flex;
    gap: 40px;
    list-style-type: none;
  }
  
  .navbar label{
    display: none;
  }
  
  #click:checked~.navbar ul{
    display: block;
  }
  
  @media screen and (max-width:650px){
    .navbar label{
        display: block;
        margin-right: 20px;
    }
    .navbar ul{
        display: none;
    }
  }
  
  .navbar .click i{
  color: white;   
  }
  
  .navbar h1{
    line-height: 0.8;
    margin-left: 20px;
  }
  
  .help{
    margin-right: 20px;
  }
  
  #click{
    display: none;
  }
  
  .navbar ul li:hover{
    border: 1px solid white;
  }
  
  
  .content-right{
      height:70%;
      width: 50%;
      padding: 50px 100px;
      white-space: nowrap;
      overflow-x: auto;
      position: absolute;
      top: 125px;
      left:600px;
      
  }
  
  .product{
      height: 370px;
      width: 250px;
      background-color: #FFFFFF;
      position: relative;
      box-shadow: 0 5px 10px rgba(17, 0, 17, 0.3);
      display: inline-block;
      margin-right: 20px;
      
  }
  
  .product img{
      height:500px;
      width:250px;
      object-fit: contain;
      position: absolute;
      bottom:20%;
  }
  
  .product h4{
      font-size: 18px;
      text-transform: capitalize;
      position: absolute;
      bottom: 28%;
  }
  
  .catagory{
      position: absolute;
      bottom: 20%;
      font-weight: 500;
      text-transform: capitalize;
  }
  
  .color{
      position: absolute;
      bottom: 15%;
      font-weight: 500;
      text-transform: capitalize;
  }
  
  .price{
      font: 18px;
      position: absolute;
      bottom: 5%;
      font-weight: 600;
      text-transform: capitalize;
  }
  
  .sideimg img{
    height: 400px;
    margin-top: 70px;
    margin-left:90px;
  }

  .sideimg P{
    color:BLACK;
    position: relative;
    BOTTOM:70PX;
    left:110PX;
    font-weight: bolder;
    text-decoration: none;
  }
  .sideimg .off{
  color:BLACK;
    position: relative;
    BOTTOM:70PX;
    left:118PX;
    font-weight: bolder;
    text-decoration: none;
  }
  .sideimg a{
    color:BLACK;
    position: relative;
    BOTTOM:70PX;
    left:110PX;
    font-weight: bolder;
    text-decoration: none;
    border: 1px solid black;
  }

  .sideimg a:hover{
    background-color: aqua;
    color: white;
  }
  
  
  