body{
  BACKGROUND-COLOR:black;
}
.head1{
  text-shadow: 2px 3px 10px white;
  font-size:80px;
  font-family:verdana;
  text-align: center;
  color: white;
}
a{
  font-size:60px;
  color:white;
  text-decoration: none;
  text-shadow: 3px 4px 12px white;
  position: relative;
  left:38%;
  top:50px;
}

 aside img{
  height:200px; 
  border-radius:200px; 
  text-shadow:5px 6px 15px white;
}